<!DOCTYPE html>
<html>
	<head>
		<title>test flask web</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="this is a test of a flask application">
		<style>
			h1 {
				font-family: Times, serif;
				color: #2f2d2d;
				text-align: Center;
			}
			p {
				font-family: Times, serif;
				font-size: 19px;
				text-align: Center;
				color: #2f2d2d;
				
			}
		</style>
	</head>
	<body>
		<h1></h1>
		<p>this is a test of a flask application</p>
	</body>
</html>